html, body{
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    margin-top: 0;
    font-family: Arial, serif;
        background-color: #838181;
}

#header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #5E5D5D;
}

.navBar > a{
    margin: 18px;
    font-size: 25px;
    color:white;
    text-decoration: none;
    text-align: center;

}

#xamkLogo{
max-height: 50px;
vertical-align: middle;
}

#signButton{
    background-color: red;
    color: white;
    font-size: 20px;
    border: none;
}

#Charts-left{
    background-color: #5159A4;
    height: 83%;
    width: 49%;
    float: left;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 0.5%;
    margin-left: 0.5%;
}
#Charts-right{
    background-color: #5159A4;
    height: 83%;
    width: 49%;
    float: right;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 0.5%;
    margin-left: 0.5%;
}
#columnchart_material{
    width: 90%;
    height: 90%;
    margin: 5%;
}
#curve_chart{
    width: 90%;
    height: 90%;
    margin: 5%;
}
#LOGWrapper{
    height: 100%;
    width: 100%;
}


#LeftLogWrapper{
    height: 100%;
    width: 40%;
    float: left;
}
#RightLogWrapper{
    height: 100%;
    width: 60%;
    float: right;
}


#LeftLogContent{
    height: 75%;
    min-height: 400px;
    width: 90%;
    min-width: 400px;
    margin: auto;
    margin-top: 10px;
    background-color: #5159A4;
}
#RightLogContent{
    height: 75%;
    min-height: 400px;
    width: 90%;
    min-width: 500px;
    margin: auto;
    margin-top: 10px;
    background-color: #5159A4;
}


.LogHeader{
    width: 220px;
    color: black;
    font-weight: bold;
    font-size: 30px;
    padding: 5px;
    
}
#leftLogBox{
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 100px;
    
    /* NOT SURE IF THIS LeftLogBox SHITE EVEN WORKS BUT WHATEVER*/
}
#LogProject{
    width: 100px;
    height: 20px;
    border: solid;
    margin: 10px;
    margin-left: 17px;
    font-weight: bold;
    
}
#LogDropDownMenu{
    width: 200px;
    margin: 5px;
    
}
.LogInformationBoxes{
    width: 90%;
    height: auto;
    margin: auto;
    border: solid;
    font-weight: bold;
}
.hai{
    width: auto;
    height: 20px;
    margin-top: 5px;
    float: left;
}
.LogInputBoxes{
    float: inherit;
    width: 200px;
    height: 20px;
    margin: 2px;
    background-color: #5159A4;
    font-size: 16px;
    border: none;
}
::placeholder{
    color: black;
}
#LogDescriptionBox{
    width: 99%;
    height: 100px;
    margin: auto;
    background-color: #5159A4;
    border: none;
    padding: 2px;
}
#LogSubmitButton{
    border: 0;
    font-family: arial;
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    float: right;
    margin-top: 30px;
    padding: 10px;
    background-color: #17A8F6;
}
#LogTable{
    width: 99%;
    margin: auto;
}
.LogCell{
    width: 30%;
    height: 100px;
}
td{
    border: 1px solid black;
}
#projectsWrapper{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

#projectsLeftWrapper{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

#projectsRightWrapper{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}

#projects{
    width: 95%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 20px;
    background-color: #5159A4;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

#yourProjects{
    width: 95%;
    height: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 10px;
    background-color: #5159A4;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

#createProject{
    width: 95%;
    height: 100%;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 10px;
    background-color: #5159A4;
    padding-left: 20px;
    padding-bottom: 20px;
}

#projectsTable{
    justify-content: center;
    width: 100%;
}

#yourProjectsTable{
    width: 100%;
    margin-right: 20px;
}

#createProjectTable{
    width: 100%;
    margin-right: 20px;
}

#projectsTableProject{
    padding-left: 5px;
    border-bottom: solid;
    border-top: solid;
    border-left: solid;
}

#projectsTableCreator{
    padding-left: 5px;
    border-bottom: solid;
    border-top: solid;
}

#projectsTableSlot{
    padding-left: 5px;
    border-bottom: solid;
    border-top: solid;
    border-right: solid;
    text-align: center;
}

#projectsTableApply{
    background-color: #17A8F6;
    text-align: center;
}

#projectsTableDenied{
    background-color: red;
    text-align: center;
}

#projectsTableStatus{
    padding-right: 5px;
    border-bottom: solid;
    border-top: solid;
    border-right: solid;    
    text-align: right;
}

#projectsTableOther{
    padding-left: 5px;
    border-bottom: solid;
    border-top: solid;
}

#projectsTableCreate{
    padding-left: 5px;
    border: solid;
}

#projectsTableDescripton{
    height: 80px;
    padding-left: 5px;
    border: solid;
}

#projectsTableTagMember{
    padding-left: 5px;
    border: solid;
}

input{
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
}

::placeholder{
    color: black;
}
